:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
}

.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--color-bg);
}

.registerTitle {
  font-size: 3rem;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.registerForm {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  color: var(--color-light);
}

.registerInput {
  padding: 12px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.registerButton:hover {
  background-color: #3683c1;
}

@media screen and (max-width: 480px) {
  .register {
    background-position: right;
  }

  .registerInput {
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
  }

  .registerButton {
    font-size: 18px;
    padding: 16px;
    border-radius: 12px;
  }
}
